# File created using '.gitignore Generator' for Visual Studio Code: https://bit.ly/vscode-gig

# Created by https://www.toptal.com/developers/gitignore/api/windows,visualstudiocode,test
# Edit at https://www.toptal.com/developers/gitignore?templates=windows,visualstudiocode,test

### Test ###
### Ignore all files that could be used to test your code and
### you wouldn't want to push

# Reference https://en.wikipedia.org/wiki/Metasyntactic_variable

# Most common
*foo
*bar
*fubar
*foobar
*baz

# Less common
*qux
*quux
*bongo
*bazola
*ztesch

# UK, Australia
*wibble
*wobble
*wubble
*flob
*blep
*blah
*boop
*beep

# Japanese
*hoge
*piyo
*fuga
*hogera
*hogehoge

# Portugal, Spain
*fulano
*sicrano
*beltrano
*mengano
*perengano
*zutano

# France, Italy, the Netherlands
*toto
*titi
*tata
*tutu
*pipppo
*pluto
*paperino
*aap
*noot
*mies

# Other names that would make sense
*tests
*testsdir
*testsfile
*testsfiles
*test
*testdir
*testfile
*testfiles
*testing
*testingdir
*testingfile
*testingfiles
*temp
*tempdir
*tempfile
*tempfiles
*tmp
*tmpdir
*tmpfile
*tmpfiles
*lol

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# Support for Project snippet scope
.vscode/*.code-snippets

# Ignore code-workspaces
*.code-workspace

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# End of https://www.toptal.com/developers/gitignore/api/windows,visualstudiocode,test

# Custom rules (everything added below won't be overriden by 'Generate .gitignore File' if you use 'Update' option)

